<!DOCTYPE html>
<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<link href="/css/style.css" rel='stylesheet' type='text/css' />
<!--webfonts-->
<link href='http://fonts.useso.com/css?family=PT+Sans:400,700,400italic,700italic|Oswald:400,300,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Exo+2' rel='stylesheet' type='text/css'>
<!--//webfonts-->
<script src="http://ajax.useso.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</head>
<body>
<script>$(document).ready(function(c) {
	$('.close').on('click', function(c){
		$('.login-form').fadeOut('slow', function(c){
	  		$('.login-form').remove();
		});
	});	  
});
</script>
<script>
    function myFunction(){

        if (document.getElementById('user-name-label').value=='')
        {
            alert('用户名不能为空！');

        }



    }
</script>

 <!--SIGN UP-->
 <h1>用户登录</h1>
<div class="login-form">
	<div class="close"> </div>
		<div class="head-info">
			<label class="lbl-1"> </label>
			<label class="lbl-2"> </label>
			<label class="lbl-3"> </label>
		</div>
			<div class="clear"> </div>
	<div class="avtar">
		<img src="/images/avtar.png" />
	</div>
         <form method="post" action="/login" name="formlogin">
             <input type="text"   id="user-name-label" name="username" class="text"  onfocus="this.value = '';" onblur="myFunction()" >
             <div class="key">
                 <input type="password" id="user-name-labe2" name="password" onfocus="this.value = '';" >
             </div>


             <a href="">注册</a>


             <div class="signin">
                    <input type="submit" value="login" name="login" >
                </div>

			</form>


</div>
 <div class="copy-rights">

			</div>

</body>
</html>
